html {
  font-family: 'Manrope', sans-serif;
  background-color: hsl(210, 46%, 95%);
}

body {
  box-sizing: border-box;
}


/* ================================= ARTICLE ========================== */

.article {
  display: flex;
  flex-wrap: wrap;
  height: 380px;
  justify-content: center;
  margin-top: 10em;
}

.avatar {
  height: 50px;
  border-radius: 50%;
  float: left;
  margin-right: 1em;
}

.drawers {
  width: 500px;
  border-radius: 1em 0 0 1em;
  overflow: hidden;
  margin-right: -5.5em;
  height: 384px;
}



/* ================================= ARTICLE ========================== */

/* ================================= TEXT ========================== */

.text {
  width: 540px;
  background-color: white;
  border-radius: 0 1em 1em 0;
  padding-top: 1.5em;
  padding-left: 4em;
  padding-right: 5em;
  display: inline-block;
  height: 360px;
}

.maintext {
  font-weight: 700;
}

.paratext {
  font-size: 1.2em;
  color: hsl(214, 17%, 51%);
  overflow: hidden;
}


.name {
  font-weight: 700;
}

.date {
  color: hsl(214, 17%, 51%);
  line-height: 2;
}

/* ================================= TEXT ========================== */

/* ================================= SHARE ========================== */

.share {
  background-color: hsl(217, 19%, 35%);
  color: white;
  position: absolute;
  max-width: 100%;
  transform: translate(103%, -215%);
  z-index: 1;
  display: none;
}

.share p {
  margin-top: 12px;
  font-size: 20px;
  padding-right: 20px;
  padding-left: 10px;
  display: inline-block;
  color: hsl(212, 23%, 69%);
  letter-spacing: 5PX;
}

.fab {
  font-size: 30px;
  padding: 5px;
}



.bubble {
    position: relative;
    background: hsl(217, 19%, 35%);
    color: #FFFFFF;
    font-family: Arial;
    font-size: 20px;
    line-height: 56px;
    text-align: center;
    width: 320px;
    height: 80px;
    border-radius: 11px;
    padding: 0px;
}

.bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: hsl(217, 19%, 35%) transparent;
    border-width: 15px 16px 0;
    bottom: -15px;
    left: 50%;
    margin-left: -16px;
}


/* ================================= SHARE ========================== */

/* ================================= BUTTON ========================== */


.sharebutton {
  height: 40px;
  background: hsl(210, 46%, 95%);
  padding: 14px;
  border-radius: 50%;
  margin-top: 5px;
  z-index: 2;
  position: absolute;
  transform: translate(940%, 5%);
  border: 0;
}

.sharebutton:hover {
    background-color: hsl(214, 17%, 51%);
    background-repeat: no-repeat;
    background-position: center;
}

.sharebutton:hover path {
  fill: white;
}


.sharebutton:target {
  background-color: hsl(214, 17%, 51%);
  background-repeat: no-repeat;
  background-position: center;
}

.sharebutton:target path {
  fill: white;
}


/* ================================= BUTTON ========================== */




/* ================================= LINKS========================== */

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}



/* ================================= LINKS ========================== */







/* ################################## MOBILE  ############################## */

@media only screen and (max-width: 1111px) {

/* ====================== ARTICLE ==================== */
  .article {
    flex-direction: column;
    height: auto;
    width: 400px;
    margin: 10em auto;
    padding-left: 1em;
  }


  .drawers {
    border-radius: 1em 1em 0 0;
    margin-right: 0;
    width: 450px;
  }

/* ====================== ARTICLE ==================== */

/* ====================== TEXT ==================== */
  .text {
    background-color: white;
    border-radius: 0 0 1em 1em;
    padding-bottom: 1em;
    margin-top: -3.5em;
    width: 380px;
    padding-left: 35px;
    padding-right: 35px;
    height: 380px;
  }

  h1 {
    font-size: 22px;
  }

.paratext {
  padding-bottom: 2em;
}

/* ====================== TEXT ==================== */

/* ====================== SHARE ==================== */


.share {
  background-color: hsl(217, 19%, 35%);
  color: white;
  position: absolute;
  width: 450px;
  height: 100px;
  max-width: 100%;
  transform: translate(-7.7%, -85%);
  border-radius: 0 0 1em 1em;
}

.share p {
  font-size: 22px;
  margin-left: -120px;
  padding-top: 10px;
  padding-right: 20px;
  display: inline-block;
  color: hsl(212, 23%, 69%);
  letter-spacing: 5px;
}

.sharebutton {
  transform: translate(600%, 20%);
}

.fab {
  font-size: 30px;
  padding: 5px;
}


.bubble:after {
display: none;
}


/* ====================== SHARE ==================== */




}



/* ################################## MOBILE  ############################## */
